<html>
    <head>
        <style>
            body{
                display: flex;
                flex-flow: wrap row;
                justify-content: center;
                align-content: center;
                color: slateblue;
            }
        </style>
    </head>
    <body>
        <h1>My name is chirag , i am a developer</h1>
    </body>
</html>
